@font-face {
    font-family: Return to Classic;
    src: url(/fonts/18842.otf);
}
@font-face {
    font-family: Proxima Nova Extrabold;
    src: url(/fonts/ofont.ru_Proxima_Nova.ttf);
}
body {
    margin: 0;
}
.profile__window {
    display:flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    z-index: -5;
    width: 100%;
    height: 100vh;
    background-color: white;
    align-items: center;
    opacity: 0;
} 
.profile__window.clicked4 {
    opacity: 1;
    z-index: 5;
    position:fixed;
    overflow:hidden
}
.window__text {
    font-family: Calibri;
    position: absolute;
}
.demo {
    margin:0;
    font-size: 50px;
    font-weight: 800;
}
.demo__text {
    font-size: 20px;
    font-weight: 300;
}
.button {
    background-color: #f28241;
    font-size: 20px;
    color: white;
    font-weight: 300;
    padding: 2% 0 2% 0;
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
}
.cross {
    height: 40px;
    cursor: pointer; 
    font-size: 40px;
    margin-left: 96%;
    margin-bottom: 43%;
}
.header__title {
    letter-spacing: 3px;
    width: 30%;
}
.menu {
    width: 65%;
    font-size: 15px;
    margin-left: 30%;
    list-style: none;
    display: inline-flex;
    justify-content: space-around;

}
.profile__window.clicked4 {
    opacity: 1;
    z-index: 5;
    position:fixed;
    overflow:hidden
}
.registrationForms {
    width: 30%;
}
.active {
    color: #f28241;
}
.header {
   display: flex; 
   font-family: Return to Classic;
   font-weight: bold;
   height: 10vh;
   align-items: center;
   margin-left: 10%;
   font-size: 25px;
   padding: 0;
   color: rgb(46, 46, 46);
}
.header__title {
    letter-spacing: 3px;
    width: 20%;
}
.menu {
    width: 50%;
    font-size: 15px;
    margin-left: 30%;
    list-style: none;
    display: inline-flex;
}
.menu__item {
    margin: 0;
    padding: 0;
    font-weight: 300;
}
.menu__item:hover {
    transition: all 0.5s;
    color: #f28241;
}
a {
    text-decoration: none;
    color: inherit;
    margin-left: 2%;
}
.active {
    color: #f28241;
}
.profile {
    display: flex;
    width: 30%;
    margin-left: 0.5%;
}
.profile__item {
    padding: 0;
    margin: auto 0 auto 0;
    width: 30px;
    height: 30px;
}
.profile__text {
    font-size: 15px;
    font-weight: 300;
    color: #f28241;
    margin-left: 3%;
    cursor: pointer;
}
.leftmargin {
    margin-left: 2%;
}
.section1 {
    width: 100%;
    height: 60vh;
    background-image: url(images/DpTK2JRXgAE2tTG.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.title {
    font-family: Return to Classic;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    margin: 6% 0 0 0;
    letter-spacing: 2px;
}
.hr {
    background-color: #f28241;
    border: none;
    height: 3px;
    width: 2.5%;
}
.section2 {
    width: 100%;
    height: 225vh;
}
.section2__items {
    display: flex;
    flex-direction: column;
}
.card {
    display: inline-flex;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
}
.bookCard {
    border: 1px solid rgb(175, 175, 175);
    border-right: none;
    margin: 0;
    padding: 0;
    width: 400px;
    height: 300px;
    background-image: url(images/0f89d3fdb88f78da8307594ad564a982cf7e5ac7r1-1920-1936v2_uhq.jpg);
    background-size: cover;
}
.bookCard2 {
    border: 1px solid rgb(175, 175, 175);
    border-right: none;
    margin: 0;
    padding: 0;
    width: 400px;
    height: 300px;
    background-image: url(images/716cdaa0fb394f05a362bd57deb6161b.jpg);
    background-size: cover;
}
.bookCard3 {
    border: 1px solid rgb(175, 175, 175);
    border-right: none;
    margin: 0;
    padding: 0;
    width: 400px;
    height: 300px;
    background-image: url(images/3b1f25_090a1080563f4d938173f7acef9e1da1.jpeg);
    background-size: cover;
}
.bookCard4 {
    border: 1px solid rgb(175, 175, 175);
    border-right: none;
    margin: 0;
    padding: 0;
    width: 400px;
    height: 300px;
    background-image: url(images/art-graffiti-abstract.jpg);
    background-size: cover;
}
.bookCard__image {
    background-color: rgb(94, 94, 94, 0.329);
    margin: 0;
    padding: 0;
    width: 400px;
    height: 300px;
    font-size: 200px;
    color: rgba(94, 94, 94, 0);
    opacity: 0;
    transition: all 0.5s;
    margin-top: -1px;
    padding-bottom: 2px;
}
.bookCard__image:hover {
    opacity: 1;
}

.bookCardDescription {
    display: flex;
    width: 400px;
    height: 300px;
    border: 1px solid rgb(175, 175, 175);
    align-items: center;
    justify-content: center;
    text-align: center;
}
.ill {
    font-family: Proxima Nova Extrabold;
    font-size: 45px;
    font-weight: 800;
    margin:0;
    padding:0;
    transition: all 0.5s;
}
.ill:hover {
    color: #636363;
}
.start {
    font-family: Return to Classic;
    font-weight: 200;
    font-size: 17px;
}
.price {
    font-family: Return to Classic;
    font-weight: 200; 
    font-size: 17px;
    margin-bottom: 30px;
}
.book {
    font-size: 17px;
    font-family: Return to Classic;
    font-weight: 200; 
    background-color: #f28241;
    color: white;
    padding: 15px 30px 15px 30px;
    transition: all 0.5s;    
    margin: 0;
}

.book:hover {
    background-color: #f1a67b;
}













.footer {
    height: 7vh;
    background-color: rgb(46, 46, 46);
    margin: 0;
    padding: 0;
}
.footer__items {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    padding-top: 1.15%;
}
.footer__item {
    color: rgb(94, 94, 94);
    letter-spacing: 2px;
    font-size: 15px;
    font-family: Return to Classic;
    font-weight: 100;
    margin: 0;
    padding: 0;
}


